# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache

# Virtual environments
.venv/
venv/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env files
.env

# Docs
README.md
